html,
body,
#mainViewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
  background-color: #fff;
}

#akViewDiv {
  padding: 0;
  margin: 0;
  height: 225px;
  width: 300px;
  background-color: rgba(255,255,255,0.8);
  position: absolute;
  left: 15px;
  bottom: 25px;
  border: #dcd8d0;
  border-width: thin;
  border-style: solid;
  display: none;
}

#hiViewDiv {
  padding: 0;
  margin: 0;
  height: 135px;
  width: 250px;
  background-color: rgba(255,255,255,0.8);
  position: absolute;
  left: 315px;
  bottom: 25px;
  border: #dcd8d0;
  border-width: thin;
  border-style: solid;
  display: none;
}

#viViewDiv {
  padding: 0;
  margin: 0;
  height: 80px;
  width: 150px;
  background-color: rgba(255,255,255,0.8);
  position: absolute;
  right: 30%;
  bottom: 25px;
  border: #dcd8d0;
  border-width: thin;
  border-style: solid;
  display: none;
}
#timeSlider {
  display: none;
  height: 50px;
  width: 95%;
  margin: 0 0 10px 10px;
}
#year-picker {
  display: none;
  position: absolute;
  left: 10px;
  top: 30px;
}
#title {
  padding: 15px;
  text-align: right;
  /* right: 10px; */
  background-color: rgba(255,255,255,0.8);
  /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); */
  max-height: 85%;
  overflow: auto;
  --calcite-ui-brand: #018571;
}
#name{
  color:#018571;
  font-size: 2.5em;
  font-weight: 600;
  line-height: 1.5em;
}

#titleText {
  font-size: 12pt;
  padding-bottom: 10px;
}

#percent-change {
  /* position: absolute;
  top: 10px;
  left: 45%; */
  font-size: 16pt;
  font-weight: 500;
}

#annual-visits {
  font-size: 18pt;
  font-weight: 800;
}

.emphasis {
  font-size: 16pt;
  font-weight: 500;
}

.increase-style{
  color:#018571;
  font-weight: 500;
}
.decrease-style {
  color:#a6611a;
  font-weight: 500;
}

.options {
  display: flex;
  padding: 5px;
  text-align: left;
  margin-bottom: -10px;
}

.radio-description {
  vertical-align: middle;
  align-self: center;
  font-weight: 600;
}

.legend{
  width: 200px;
  opacity: 0.9;
  overflow: auto;
  max-height: 50%;
}

#feature{
  text-align: left;
  padding: 10px 10px 10px 10px;
  position: absolute;
  top: 10px;
  width: 390px;
  max-height: 85%;
  left: 10px;
  background-color: rgba(255,255,255,0.8);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  display: none;
  z-index: 2;
  overflow: auto;
}

#feature-close{
  float: right;
  cursor: pointer;
}

.esri-slider__track{
  background-color: #018571;
}

.esri-slider__thumb{
  border: 2px solid #018571;
}

.esri-feature-element-info__title {
  text-align: center;
}

.esri-ui-corner .esri-component .esri-expand__content {
  overflow: auto;
}